.formcont
{
    display:flex;
    justify-content: center;
    text-align: center;
     align-items: center;

}
.welcome
{
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: bolder;
}
.container
{
    font-family: Source Sans Pro;
    text-align: left;

}
.divider {
    padding: 0 30px;
    background-color: #32323226;
    height: 3px;
    width: 83%;
    margin-top: 17px;
}
.sub-divider{
    padding: 0 30px;
    background-color: #FF1E56;
    height: 3px;
    width: 50%;
    margin-top: 17px;
    margin-bottom: 10px;
}
.sub{
    font-size:0.8rem;
    color:#757575;
}
.subcont{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input{
    padding:10px;
    width: 100%;
    border:1px solid #E6E6E6;
    border-radius:15px;
}
sup{
    color:#ff1e56;
}
.button {
    background-color:  #FF1E56;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:90%;
}
