.blog {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 20px 20vw;
    font-size: 20px;
    line-height: 1.25;
    margin: 0;
}

.blog header,
.blog main,
.blog footer {
    max-width: 60vw;
}

.blog a {
    color: black;
    text-decoration: none;
}

.blog a:hover {
    text-decoration: underline;
}

.blog a:visited {
    color: black;
}

.blog pre {
    border-left: 2px solid black;
    font-family: "Ubuntu Mono", monospace;
}

.blog p:not(.date),
.blog pre {
    font-size: 17px;
}

.blog .date {
    font-family: "Ubuntu Condensed", sans-serif;
    color: grey;
}

.blog footer {
    text-align: center;
    color: grey;
    margin-top: 40px;
    font-family: "Ubuntu Condensed", sans-serif;
}
