@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.dashmain{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-start;
    gap:50px;
}
.profile_head {
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
}
.compFrame{
    width: 80%;
    margin-bottom: 20px;
}
.dashbar{
    font-size: 15px;
    border-right:1px solid #EDF0F2;
    padding-right: 50px;
    margin-top: -10px;
}
.reshead{
    font-family: 'Poppins';
    padding: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    color:#323E4D;
}
.dashbutton {
    text-align: center;
    color: #ff1e56;
    font-size: 15px;
    width: 137px;
    font-family: 'Poppins';
    border-radius: 85px;
    border: 2px solid #ff1e56;
}
.dashbutton>a{
    color: #ff1e56;
    margin-top: -10px;
}
.dashmenu>li{
    display: flex;
    justify-content: flex-start;
    padding:30px;
    border-radius: 10px;
}
.dashmenu>li:hover,.subdash>li:hover{
    color:white;
    background: linear-gradient(180deg, #FF1E56 0%, #FF4B78 100%);
    box-shadow: 0px 5px 10px rgba(64, 94, 128, 0.02);
    border-radius: 10px;
}
.subdash{
    display: none;
}
.subdash>li{
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    margin-left:-5px;
    padding:5px;
    list-style-type: none;
}



.prfcontainer,.rescontainer{
    margin-top: -25px;
}

.prfbutton
{
    margin-top: 35px;
    background-color:#FF1E56;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    width:20%;
    line-height: 15px;
}
.profile_hero{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.profile_head>div{
    margin:15px;
}
.social_icons{
    display:flex;
    gap:50px;
    padding-top: 20px;
}

.prfdivider{
    background-color: rgba(50, 50, 50, 0.15);
    height: 2px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 33px;
}

.proptable th,td{
    border: 1px solid rgba(224, 224, 224, 1);

}
.proposals{
    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap:10px;
    margin-top: 30px;
}
.proptable{
    font-family:"Poppins";
}


.reshead{
    font-family: 'Poppins';
    padding: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    color:#323E4D;
}

.resvideo,.reshead{
    display:flex;
    color:#323E4D;
    padding-top: 25px ;
    padding-bottom: 10px;
    font-weight: normal;

}
.videos{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
}
.dashmenu{
    color:#606A80;
    list-style-type: none;
}

.resbar{
    width: 30px;
    height: 36px;
    border-color: #ff1e56;
    font-weight: bolder;
    transition: 1s;
    font-size: 11px;
    border-radius: 30px;
    color:#ff1e56;
}
.resbar:focus{
    width: 120px;
    height: 36px;
    border-color: #ff1e56;
    font-weight: bolder;
    color:black;
    transition: 1s;
    font-size: 11px;
    border-radius: 30px;

}
.inputRounded .MuiOutlinedInput-root{
    border-radius: 50px;
}

.watchbutton{
    color: #ff1e56;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding-left: 8px;
}
.editComponents{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

h6{
    margin-top: 10px;
    font-weight: bold;

}
.edtbutton{
    font-family: "Poppins";
    background-color:#B8C1CC;
    border-radius: 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    width:15%;
    margin-top: 20px;



}
@media only screen and (max-width: 450px) {
    .reshead > .prfdivider {
        width: 30%;
        margin-right: 10px;
    }

    .compFrame {
        margin-left: 10px;
    }

    .dashmenu {
        display: flex;
        flex-direction: row;
    }

    .dashmain {
        gap: 100px;
        display: flex;
        flex-direction: column;
    }

    .dashbar {
        border-bottom: 2px solid;
        border-right: 0px;
    }

    .subdash > li {
        padding: 10px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dashmenu > li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin: 0px auto;
        border-radius: 10px;
    }

    .profile_head > div {
        margin: 0px;
    }

    .edtbutton {
        font-family: "Poppins";
        background-color: #B8C1CC;
        border-radius: 20px;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        width: 40%;
        margin-top: 20px;
    }

    .prfbutton {
        margin-top: 30px;
        background-color: #FF1E56;
        border-radius: 15px;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        width: 60%;
        line-height: 15px;
    }
}
