@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.dashmain{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-start;
    gap:50px;
}
.profile_head {
    display: flex;
    gap: 10px;
}
.compFrame{
    width: 80%;
}
.dashbar{
    font-size: 15px;
    border-right:1px solid #EDF0F2;
    padding-right: 50px;
    margin-top: -10px;
}
.dashbutton {
    text-align: center;
    color: #ff1e56;
    font-size: 15px;
    width: 137px;
    font-family: 'Poppins';
    border-radius: 85px;
    border: 2px solid #ff1e56;
}
.dashbutton>a{
    color: #ff1e56;
    margin-top: -10px;
}
.dashmenu>li{
    display: flex;
    justify-content: flex-start;
    padding:30px;
    border-radius: 10px;
}
.dashmenu>li:hover,.subdash>li:hover{
    color:white;
    background: linear-gradient(180deg, #FF1E56 0%, #FF4B78 100%);
    box-shadow: 0px 5px 10px rgba(64, 94, 128, 0.02);
    border-radius: 10px;
}
.subdash{
    display: none;
}
.subdash>li{
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    margin-left:-5px;
    padding:5px;
    list-style-type: none;
}



.prfcontainer,.rescontainer{
    margin-top: -80px;
}

.prfbutton
{
    margin-top: 10px;
    background-color:#FF1E56;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    width:30%;
}
.profile_head>div{
    margin:15px;
}
.social_icons{
    display:flex;
    gap:20px;
}
.prfsub{
    display:flex;
    justify-content: space-between;
}
.prfdivider{
    padding: 0 30px;
    background-color: rgba(50, 50, 50, 0.15);
    height: 2px;
    width: 100%;
    margin-top: 25px;
}

.proposals{
    display:flex;
    flex-wrap: nowrap;
    gap:20px;
}


.reshead{
    font-family: 'Poppins';
    padding: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    color:#323E4D;
}

.resvideo,.reshead{
    display:flex;
    gap:5px;
    color:#323E4D;
    padding-top: 25px ;
    padding-bottom: 10px;
    font-weight: normal;

}
.videos{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
}
.dashmenu{
    color:#606A80;
    list-style-type: none;
}

.resbar{
    width: 30px;
    height: 36px;
    border-color: #ff1e56;
    font-weight: bolder;
    color:#ff1e56;
    transition: 1.5s;
    font-size: 11px;
    border-radius: 30px;
}
.resbar:focus{
    font-size: 17px;
    border-radius: 30px;
    color: #B8C1CC;
    width: 175px;
    border-color: #ff1e56;
    font-weight: bold;
    height: 26px;
}
@media only screen and (max-width: 450px){
    .compFrame{
        margin-left: 10px;
    }
    .dashmenu{
        display: flex;
        flex-direction: row;
    }
    .dashmain{
        gap:100px;
        display: flex;
        flex-direction: column;
    }
    .dashbar{
        font-size: 10px;
        border-bottom: 1px solid #EDF0F2;
        border-right: 0px;
    }
    .subdash>li{
        padding:10px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dashmenu>li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:10px;
        margin:0px auto;
        border-radius: 10px;
    }
}
