.btnpink {
  background-color: rgba(255, 30, 86, 1) !important;
}
.main {
  padding: 0 300px;
  margin: 20px 0;
  /* margin-top: -100px; */
}
.main h2 {
  font-weight: bold;
}

.description {
  font-weight: 700;
  margin-top: 20px;
}
.car {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.divider {
  padding: 0 30px;
  background-color: rgba(50, 50, 50, 0.15);
  height: 2.5px;
  width: 83%;
  margin-top: 11px;
}
.see {
  color: rgba(255, 30, 86, 1);
  text-decoration: none;
}
.see:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1300px) {
  .car {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 700px) {
  .main {
    padding: 0 60px;
  }
  .car {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divider {
    width: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .divider {
    width: 30%;
  }
}
