.btnpink {
  background-color: rgba(255, 30, 86, 1) !important;
}
.main {
  padding: 0 300px;
  margin: 20px 0;
  /* margin-top: -100px; */
}
.main,.articles h2,h4 {
  font-weight: bold;
}
.articles p{
  font-size:15px;
}
.articles {
  padding: 0 300px;
  display:flex;
  justify-content: space-around;
}
.news,.tweets{
  width:50%;
  }



.description {
  font-weight: 700;
  margin-top: 20px;
}
.car {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.head {
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.divider {
  padding: 0 30px;
  background-color: rgba(50, 50, 50, 0.15);
  height: 3px;
  width: 83%;
  margin-top: 17px;
}
.see {
  color: rgba(255, 30, 86, 1);
  text-decoration: none;
}
.see:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1300px) {
  .car {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1200px) {
  .main,.articles{
    padding: 0 100px;
  }

}
@media only screen and (max-width: 700px) {
  .main,.articles {
    padding: 0 50px;
  }
  .car {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divider {
    width: 80%;
  }
  .head {
    margin: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .divider {
    width: 30%;
  }
}
