.container {
  margin-top: 30px;
}
.sub-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-cont img {
  height: 180px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 766px) {
  .sub-cont img {
    height: 120px;
  }
}
