.nav {
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  width: 100%;
}
.nav-items {
  margin-top: 6vh;
  position: absolute;
  z-index: 500;
  left: 15px;
  right: 15px;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 2vmax;
  margin-left: 4%;
  /* width: 100%; */
}
.navcont {
  padding: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 112%;
  font-family:sans-serif;
}
svg{
  width: 100%;
}
.navcont:hover {
  cursor: pointer;
  color: #ff1e56;
}
.logo{
    float: left;
    margin-left: 7%;
}
@media only screen and  (max-width: 768px) {
  .logo{
    margin-left: 0%;
    height: 30px;
    width: 30px;
  }
  .nav-items{
    padding: 10px;
    margin-top: .5vh;
    width: 100%;
  }
  .navcont{
    padding: 5px;
    font-size:10px ;
  }
  #wave.viewbox{}
}

    

/*  */
